@model IEnumerable<CinemaCatalog.Web.Models.Film.FilmDTO>

<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Film List</h1>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Director
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Director</td>
                </tr>
            }
        }
        else{
            <tr>
                <td colspan="3">No film found.</td>
            </tr>
        }
        </tbody>
    </table>

</div>